@tailwind base;
@tailwind components;
@tailwind utilities;

/* Navbar section */
nav {
  @apply shadow-md;
}

nav a {
  @apply text-lg font-normal text-gray-500;
}

.logo a {
  @apply text-2xl font-semibold text-gray-500;
}

.sign-up {
  @apply flex justify-center items-center;
}
.sign-up a {
  @apply text-xl font-normal text-gray-400;
}

.orange-btn {
  @apply text-lg font-medium text-white bg-red-400 px-[20px] py-[10px] rounded-full shadow-lg;
}

/* Hero Section */

.section.home-hero {
  @apply pt-[80px] pb-[80px] relative overflow-hidden;
}

.hero-container {
  @apply mx-[100px] py-[10px] px-[24px] flex flex-col justify-center items-center;
}

.inner-container {
  @apply mx-[100px];
}

.hero-heading {
  @apply text-6xl font-semibold text-center leading-[1.278em] mb-[10px];
}

.hero-discription {
  @apply text-2xl font-normal text-gray-600  flex justify-center items-center mb-[32px];
}

.hero-btn {
  @apply py-[14px] px-[30px];
}

.home-hero {
  @apply py-[80px] relative overflow-hidden;
  background-image: linear-gradient(
    183deg,
    #fff 90%,
    rgba(158, 159, 168, 0.41)
  );
}

.bg-now {
  @apply h-[50px] max-w-[100vw] absolute top-0 bottom-auto left-0 right-0;
  border-top: 50px solid #fff;
  border-left: 100vw solid #f7f9fa;
}

.bg-now {
  @apply absolute top-auto bottom-0 left-0 right-0;
  border-top-color: rgba(0, 0, 0, 0);
}
